// create all styling for credential elements

// style add and update button id
#addButton,
#updateButton {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #437bcf;
}

// style input text class
.input-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

// style trash icon id
#trashIcon {
  position: relative;
  left: 2vh;
  border: none;
  border-radius: 10px;
  background: #b64b19;
}

// style update icon id
#updateIcon {
  position: relative;
  left: 2vh;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: #397adb;
}
